* {
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
}


.navBar {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.loginTemplate {

    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-top: 2%;


}




.profile_div {

    margin-top: 3rem;
    margin-right: 3rem;
}