* {
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
}


.navBar {

    display: flex;
    justify-content: space-around;


}

.loginTemplate{

    display: flex;
    flex-direction: column;


    margin: 4rem;
    padding-top: 20%;


}


.main-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}