* {
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
}


.navBar {

    display: flex;
    justify-content: space-around;
 flex-wrap: wrap;

}

.loginTemplate{

    display: flex;
    flex-direction: column;


    margin: 4rem;
    padding-top: 20%;


}


.main_div {
    margin-top: 10%;
}

.profile_div {
   
    margin-top: 3rem;
    margin-right: 3rem;
}